<main class="flex flex-col sm:flex-row items-center sm:h-[100vh] px-10 justify-between bg-purple-700">

    <div class="md:pr-16 lg:pr-0 pr-0 text-white">
        <h1 class="title-font font-medium sm:text-8xl text-3xl capitalize">Welcome<br>to<br>News-<span
                class="text-purple-900">Nation</span></h1>
        <p class="font-semibold tracking-wider text-lg">We have a huge collection of <br><span id="companyLine"
                class="text-3xl text-purple-900 tracking-wider">{{companyLine}}</span><br> news</p>
    </div>

    <div class="w-1/2 bg-violet-400 rounded-md p-5 text-white">

        <div class="relative z-0 mb-6 w-full group">
            <input type="email" name="email" id="floating_email"
                class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-white focus:outline-none focus:ring-0 focus:border-white peer"
                placeholder=" " required="" #userEmail>
            <label for="floating_email"
                class="peer-focus:font-medium absolute text-sm duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-white peer-focus:dark:text-white peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
        </div>
        <div class="relative z-0 mb-6 w-full group">
            <input type="password" name="password" id="floating_password"
                class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-white focus:outline-none focus:ring-0 focus:border-white peer"
                placeholder=" " required="" #userPassword>
            <label for="floating_password"
                class="peer-focus:font-medium absolute text-sm duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-white peer-focus:dark:text-white peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
        </div>
        <div class="relative z-0 mb-6 w-full group">
            <input type="password" name="repeat_password" id="floating_repeat_password"
                class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-white focus:outline-none focus:ring-0 focus:border-white peer"
                placeholder=" " required="" #userConfirmPassword>
            <label for="floating_repeat_password"
                class="peer-focus:font-medium absolute text-sm duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-white peer-focus:dark:text-white peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Confirm
                password</label>
        </div>
        <div class="grid md:grid-cols-2 md:gap-6">
            <div class="relative z-0 mb-6 w-full group">
                <input type="text" name="first_name" id="floating_first_name"
                    class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-white focus:outline-none focus:ring-0 focus:border-white peer"
                    placeholder=" " required="" #userFirstName>
                <label for="floating_first_name"
                    class="peer-focus:font-medium absolute text-sm duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-white peer-focus:dark:text-white peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First
                    name</label>
            </div>
            <div class="relative z-0 mb-6 w-full group">
                <input type="text" name="last_name" id="floating_last_name"
                    class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-white focus:outline-none focus:ring-0 focus:border-white peer"
                    placeholder=" " required="" #userLastName>
                <label for="floating_last_name"
                    class="peer-focus:font-medium absolute text-sm duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-white peer-focus:dark:text-white peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last
                    name</label>
            </div>
        </div>

        <div class="relative z-0 mb-6 w-full group">
            <input type="tel" name="phone" id="floating_phone"
                class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-white focus:outline-none focus:ring-0 focus:border-white peer"
                placeholder=" " required="" #userPhone>
            <label for="floating_phone"
                class="peer-focus:font-medium absolute text-sm duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-white peer-focus:dark:text-white peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Phone
                number</label>
        </div>

        <button type="button"
            class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900"
            (click)="saveMyData({email:userEmail.value,
            password:userPassword.value,
            cPassword:userConfirmPassword.value,
            firstName:userFirstName.value,
            lastName:userLastName.value,
            phone:userPhone.value})">Submit</button>
        <span class="block">If you want to go for login then <a routerLink="/login"
                class="text-blue-700 hover:underline">Click here</a></span>
    </div>

</main>